<button class="btn btn-raised"
        (click)="success($event)"
        [promiseBtn]="successPromise">Success after delay
</button>
<button class="btn btn-raised"
        (click)="error()"
        [promiseBtn]="errorPromise">Error after delay
</button>
<br>
<br>
<button class="btn btn-raised"
        (click)="endless()"
        [promiseBtn]="endlessPromise">Never resolving promise
</button>
<button class="btn btn-raised"
        [promiseBtn]="endlessInitialPromise">Loading initially and forever
</button>

<h3>Same promise buttons</h3>
<button class="btn btn-raised"
        (click)="success($event)"
        [promiseBtn]="successPromise">We
</button>
<button class="btn btn-raised"
        (click)="success($event)"
        [promiseBtn]="successPromise">share
</button>

<h3>Chained promise buttons</h3>
<button class="btn btn-raised"
        (click)="chain()"
        [promiseBtn]="chainedPromises">Load promise chain {{ promiseIndex }}
</button>


<h3>Inside a form</h3>
<form (submit)="submit()"
      novalidate>
  <button class="btn btn-raised"
          type="submit"
          [promiseBtn]="submitPromise">Submit
  </button>
</form>

<div>
  <h2>Observable</h2>

  <button class="btn btn-raised"
          (click)="initSuccessObservable()"
          [promiseBtn]="successObservable">Success after delay
  </button>
  <button class="btn btn-raised"
          (click)="initErrorObservable()"
          [promiseBtn]="errorObservable">Error after delay
  </button>
  <br>
  <br>
  <button class="btn btn-raised"
          (click)="initEndlessObservable()"
          [promiseBtn]="endlessObservable">Never resolving Observable
  </button>
  <button class="btn btn-raised"
          [promiseBtn]="endlessInitialObservable">Loading initially and forever
  </button>

  <h3>Same observable buttons</h3>
  <button class="btn btn-raised"
          (click)="initSuccessObservable()"
          [promiseBtn]="successObservable">We
  </button>
  <button class="btn btn-raised"
          (click)="initSuccessObservable()"
          [promiseBtn]="successObservable">share
  </button>

  <h3>Chained observable button</h3>
  <button class="btn btn-raised"
          (click)="initChainedObservable()"
          [promiseBtn]="chainedObservable">Observable chain {{ chainedObservableValue }}
  </button>
</div>

<div>
  <h2>Simple Boolean</h2>
  <button class="btn btn-raised"
          (click)="myBool=!myBool">Toggle loading ({{myBool}})
  </button>

  <button class="btn btn-raised"
          [promiseBtn]="myBool">My Boolean Btn {{myBool}}
  </button>
</div>


<div>
  <h2>Dynamic [disabled] </h2>

  <button class="btn btn-raised"
          (click)="isOutsideDisabled=!isOutsideDisabled">Toggle disabled via [disabled]={{isOutsideDisabled}}
  </button>

  <button class="btn btn-raised"
          (click)="myBoolWithCustomDisabled=!myBoolWithCustomDisabled">Toggle promise button
  </button>

  <button class="btn btn-raised"
          [disabled]="isOutsideDisabled"
          [promiseBtn]="myBoolWithCustomDisabled">This is the button</button>
</div>
